@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  @font-face {
    font-family: "variable";
    src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
  }
}

@layer utilities {

  .nav-hover-btn {
    @apply relative ms-10 text-blue-50 after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-neutral-300 after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 dark:after:bg-white cursor-pointer;
  }

  .hover-btn {
    @apply relative text-blue-50 after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-neutral-300 after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 dark:after:bg-white cursor-pointer;
  }

  .floating-nav {
    @apply bg-black rounded-lg border;
  }
}

.clip-path-footer {
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
}

.shine-text {
  background: linear-gradient(to right, #9a9a9a 0, white 10%, #868686 20%);
  background-position: 0;
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

.fancy-btn {
  @apply relative border-none transition-all duration-300;
}

.fancy-btn::before,
.fancy-btn::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  transition: all 0.3s;
}

.fancy-btn::before {
  top: -5px;
  left: -5px;
  border-top: 2px solid gray;
  border-left: 2px solid gray;
}

.fancy-btn::after {
  bottom: -5px;
  right: -5px;
  border-bottom: 2px solid gray;
  border-right: 2px solid gray;
}

.fancy-btn:hover::before,
.fancy-btn:hover::after {
  width: 104%;
  height: 110%;
}